# Object files
*.o

# Assets
*.svg
*.png
*.mp3
kula*/**/*.ttf

# Scratch project files
*.sb3
*.json

# Build directories
build/

# Executables
*.elf
*.[0-9][0-9]

# Image files
*.iso

# Archive files
*.tar.gz
*.zip